# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0
#
# This file is the application Kconfig entry point. All application Kconfig
# options can be defined here or included via other application Kconfig files.
# You can browse these options using the west targets menuconfig (terminal) or
# guiconfig (GUI).

menu "Zephyr"
source "Kconfig.zephyr"
endmenu

module = APP
module-str = APP
source "subsys/logging/Kconfig.template.log_config"

config APP_BLE_CONN_BY_ADDR
    bool "Conenct by addres or to any available device"

config APP_BLE_PERIPH_ADDR
    string "The address of the peripheral to connect to"
    depends on APP_BLE_CONN_BY_ADDR
    